@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Condensed;
}
.hed h1 {
  font-family: lobster;
  font-size: 20px;
}
.hed {
  display: flex;
  flex-direction: row;
  gap: 50px;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  border-bottom: 1px solid rgb(186, 186, 186);
}
.hed span {
  font-size: 40px;
  color: #ff7426;
}
.ul-1 {
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 45px;
}
.ul-2 {
  display: flex;
  gap: 30px;
  list-style: none;
}
.hr-color {
  color: #ff7426;
}
main {
  padding: 3rem;
  display: grid;
  flex-direction: row;
}
.hero {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
  position: relative;
}
.bad{
  position: absolute;
  width: 130px;
  height: 130px;
  margin-left: 21rem;
  margin-top: 3rem;
}
.main-div1 {
  width: 500px;
  height: 500px;
  background-color: #e7fafe;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.main-div1 > h1 {
  font-size: 50px;
  font-weight: 600;
}
.main-div1 > p {
  color: #00000099;
}
.main-div2 > img {
  width: 510px;
  height: 500px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.button-1 {
  background-color: white;
  border-bottom: white;
  border-top: white;
  border-right: white;
  border-left: white;
  border-radius: 30px;
  width: 140px;
  height: 40px;
  justify-content: center;
  margin-top: 2rem;
}
.icon-2 {
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 30px;
  font-size: 10px;
  border-radius: 18px;
  color: black;
  background-color: rgba(153, 153, 153, 0.719);
  border-bottom: white;
  border-top: white;
  border-right: white;
  border-left: white;
}
.icon-2 h2 {
  color: rgb(94, 91, 91);
}

.ic {
  display: flex;
  gap: 20px;
}
.elli {
  display: flex;
  padding-top: 40px;
  gap: 20px;
}
.child-el {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  justify-content: center;
  gap: 10px;
}
.bas {
  display: flex;
  background-color: black;
  color: white;
  justify-items: center;
  justify-content: center;
  padding: 20px;
  gap: 8px;
  width: 150px;
  height: 50px;
  border-radius: 13px;
  margin-left: 5rem;
}
.bas h1 {
  font-size: 12px;
}
.bas img {
  width: 20px;
  height: 20px;
}
.hero-2 {
  display: flex;
  justify-content: space-between;
}
.hero-2 > button {
  background-color: #e7fafe;
  width: 170px;
  height: 60px;
  border: solid white;
  border-radius: 13px;
}
.div-1 {
  width: 160px;
  height: 132px;
  
 
}


.top-div-f {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  position: relative;
  
}
.img-ppp {
  position: absolute;
display: flex;

}

.head-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 4rem;
}
.head-2 > p{
  color: #00000099;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.to-divall {
  display: flex;
  flex-direction: column;
  background-color: #e7f9fd;
  border-radius: 12px;
  width: 300px;
  height: 380px;
  column-gap: 40px;
  gap: 20px;
  margin-bottom: 3rem;
  padding: 10px;
  position: relative;
}
.to-to{
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: 15rem;
  margin-top: 1rem;
}
.ads-1{
  width: 370px;
  height: 380px;
  

}
.img-1 {
  width: 300px;
}
.to-divall > img-2 {
  width: 350px;
  border-radius: 13px;
  
}
.level-end {
  display: flex;
  margin-top: 4rem;
}
.end-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.end-1 button {
  width: 160px;
  height: 40px;
  border-radius: 12px;
  background-color: black;
  color: white;
  margin-top: 4rem;
}
.nde-le {
  background-color: #e7f9fd;
  margin-top: 5rem;
  text-align: center;
  height: 450px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 40px;
}
.nde-le p{
    color: #00000099;
}
.end-1 p{
    color: #00000099;
}
.p{
  color: #00000099;
}
.col {
  position: relative;
  display: flex;
  background-color: white;
  width: 480px;
  height: 80px;
  /* background-color: white;
  width: 500px;
  height: 60px;
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 20px;
 margin-left: 24rem;
 margin-top: 7rem; */
  margin-left: 64px;
  margin-left: 24rem;
  margin-top: 30px;
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.col button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
.col-2 {
  width: 350px;
  height: 200px;
  display: flex;
margin-top: 200px;
  position: absolute;
  left: 940px;
}
.col p{
  color: #00000099;
}
.col-3 {
  width: 350px;
  height: 200px;
   position: absolute;
   margin-top: 200px;
}
.hed-end{
  margin-top: 8rem;
  padding: 3rem;
  display: flex;
justify-content: space-between;
border-bottom: 1px solid #0000001A;
}
.ul-4{
  list-style: none;
  display: flex;
  gap: 40px;

}
.fl{
  display: flex;
  flex-direction: column;
 
}
.fl p{
  color: #00000099;
}
.fl h1{
   font-family: lobster;
  font-size: 20px;
}
.fl span{
  color:  #ff7426;
}
.p-line{
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  color: #00000099;
}
.p-line span{
   color:  #ff7426;
}
.ul-3 {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: end;

}
